:root {
  --ion-color-primary: #A3BCB6;
  --ion-color-primary-rgb: 163, 188, 182;
  --ion-color-primary-contrast: #000000;
  --ion-color-primary-contrast-rgb: 0, 0, 0;
  --ion-color-primary-shade: #8fa5a0;
  --ion-color-primary-tint: #acc3bd;

  --ion-color-secondary: #39603D;
  --ion-color-secondary-rgb: 57, 96, 61;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #325436;
  --ion-color-secondary-tint: #4d7050;

  --ion-color-tertiary: #DADED4;
  --ion-color-tertiary-rgb: 218, 222, 212;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0, 0, 0;
  --ion-color-tertiary-shade: #c0c3bb;
  --ion-color-tertiary-tint: #dee1d8;

  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0, 0, 0;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  --ion-color-medium: #3C403D;
  --ion-color-medium-rgb: 60, 64, 61;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #353836;
  --ion-color-medium-tint: #505350;

  --ion-color-light: #FFFFFF;
  --ion-color-light-rgb: 255, 255, 255;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #e0e0e0;
  --ion-color-light-tint: #ffffff;

  --ion-background-color: var(--ion-color-tertiary);

  ion-button {
    //Fixed width for all the buttons
    width: 8rem;
  }

  ion-content>* {
    height: 100%;
  }
}