<ion-content [fullscreen]="true" class="ion-padding">
  <div class="start-container">
    <ion-img src="/assets/logo.png"></ion-img>
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col size="default">
          <ion-button large strong [routerLink]="'/' + appUrls.gameBoard">Start</ion-button>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-col size="default">
          <ion-button large>Options</ion-button>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-col size="default">
          <ion-button large>Contact Us</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
